{% extends 'website/base.html' %}

{% block title %}Área de Atuação{% endblock %}

{% block content %}

<section class="banner bg-light text-center d-flex justify-content-center align-items-center" style="height: 40vh;" aria-labelledby="areas-title">
    <div>
        <h1 id="areas-title" class="banner-title color-light text-light">Áreas de Atuação</h1>
    </div>
</section>

<section class="py-5" aria-labelledby="areas-content">
    <div class="container-lg">
        <div class="card my-4">
            <div class="card-body p-0 rounded-20">
                <div class="row">
                    <div class="col-lg-6 min-h-300 pr-lg-0">
                        <div class="h-100 area-atuacao-1" aria-label="Defesa judicial de médicos"></div>
                    </div>
                    <div class="col-lg-6 p-4">
                        <h4 id="areas-content">Defesa judicial de médicos em processos complexos envolvendo discussão de ato médico</h4>
                        <div class="">Encarar um processo judicial não é uma tarefa fácil. Por isso, ao enfrentar um processo dessa natureza, é essencial contar com uma defesa jurídica especializada. Nós atuamos em defesa de médicos e estamos preparados para lidar com as complexidades legais e os desafios específicos desse tipo de processo. Compreendemos as nuances da prática médica, as obrigações profissionais, os padrões de cuidado e as normas éticas e utilizamos esse conhecimento para construir teses sólidas de defesa.<br></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-body p-0 rounded-20">
                <div class="row">
                    <div class="col-lg-6 order-lg-2 order-1 pl-lg-0 min-h-300">
                        <div class="h-100 area-atuacao-2"></div>
                    </div>
                    <div class="col-lg-6 order-lg-1 order-2 p-4">
                        <h4 class="">Defesa administrativa em Conselhos de Medicina em processos complexos envolvendo a discussão de ato médico.</h4>
                        <div class="">Se você recebeu uma carta do CRM ou do CRO, não se preocupe, você não está sozinho! Oferecemos defesa e acompanhamento jurídico em sindicâncias e processos éticos envolvendo profissionais da área médica. Fornecemos suporte legal para aqueles que estão enfrentando investigações disciplinares relacionadas a questões éticas, visando evitar que a investigação evolua para um processo ético. Elaboramos manifestações e defendemos o profissional perante os Conselhos de Classe, garantindo uma defesa efetiva e justa durante todo o processo.<br></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-body p-0 rounded-20">
                <div class="row">
                    <div class="col-lg-6 min-h-300 pr-lg-0">
                        <div class="h-100 area-atuacao-3"></div>
                    </div>
                    <div class="col-lg-6 p-4">
                        <h4 class="">Estratégias de prevenção de risco jurídico.</h4>
                        <div class="">É possível atuar de forma preventiva para evitar processos. Auxiliamos as clínicas e consultórios médicos na implementação de protocolos que visam reduzir o risco de demandas judiciais. Analisamos os processos internos, fluxos de trabalho e práticas médicas para identificar áreas de possível exposição a riscos legais. Com base nessa análise, fornecemos orientações e recomendações para aprimorar os protocolos existentes, mitigando riscos e fortalecendo a defesa legal em caso de litígios.<br></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-body p-0 rounded-20">
                <div class="row">
                    <div class="col-lg-6 order-lg-2 order-1 pl-lg-0 min-h-300">
                        <div class="h-100 area-atuacao-4"></div>
                    </div>
                    <div class="col-lg-6 order-lg-1 order-2 p-4">
                        <h4 class="">Implementação de Documentos Médicos estrategicamente elaborados para gestão de risco e defesas robustas. <br></h4>
                        <div class="">Elaboramos documentos médicos personalizados, adaptados à atuação específica de cada cliente. Esses documentos são customizados para refletir a prática individual e a marca do cliente, considerando sua especialidade e particularidades, com o objetivo de fornecer uma documentação precisa e completa, a fim de garantir segurança jurídica. Além disso, auxiliamos no preenchimento de prontuários, relatórios, laudos e outros documentos necessários para a rotina clínica, garantindo conformidade com as regulamentações aplicáveis.<br></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}