{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
</head>
<body>
    {% include 'website/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'website/footer.html' %}
    <script src="{% static 'website/global.js' %}"></script>
</body>
</html>