<footer id="contato" class="bg-dark text-light py-3 mt-4" role="contentinfo">
    <div class="row m-4">
        <div class="col-xl-4 col-md-6 col-12 text-lg-center">
            <h1>
                Francine Bassetti
            </h1>
        </div>
        <div class="col-xl-4 col-md-6 col-12 text-left mb-4">
            <div>
                Entre em contato
            </div>
            <div>
                <br>Whatsapp: (12) 99151-1957
                <br>Fixo: (12) 3456-7890
                <br>contato@francine-bassetti.com.br
                <br>Rua Delaine, 1234, Ed. Torre Alto - 1602. Taubaté/SP
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="text-xl-left text-center">
                <h6 class="text-title-light margin-bottom-xs m-0 mb-4">Newsletter</h6>
                <div class="text-body-light text-s margin-bottom-xs">
                    Cadastre-se em nossa newsletter e fique por dentro das novidades.
                </div>
                <div class="newsletter-form">
                    <div lang="pt-BR">
                        <form  method="post" class="" aria-label="Formulários de contato">
                            {% csrf_token %}
                            <div style="display: none;">
                                <input type="hidden" name="" value="96">
                                <input type="hidden" name="version" value="6.0.2">
                                <input type="hidden" name="locale" value="pt_BR">
                                <input type="hidden" name="unit_tag" value="wpcf7-f96-o1">
                                <input type="hidden" name="container_post" value="0">
                                <input type="hidden" name="posted_data_hash" value="">
                            </div>
                            <div class="form-inline contem-input-cadastrar">
                                <div class="form-group">
                                    <input size="33" maxlength="400" class="form-control mr-2 my-4 validates-email" placeholder="Cadastre seu e-mail" value="" type="email" name="email">
                                    <button class="form-control" type="submit">
                                        Cadastrar
                                        <span class="spinner"></span><span class="spinner"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-4">
        <div class="col text-center">
            <hr class="bg-secondary w-50 mx-auto my-4">
            <p class="m-0">&copy; 2025 Francine Bassetti Advocacia. Todos os direitos reservados. Veja nossa <a class="text-light link-underline" href="/politica-de-privacidade">politica de privacidade</a></p>
        </div>
    </div>
</footer>