<header role="banner">
    <nav class="top navbar navbar-expand-lg navbar-dark" aria-label="Menu de navegação principal">
        <div class="container px-4">
            <a class="navbar-brand top-brand" href="#">FB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="sobre">Sobre Nós</a></li>
                    <li class="nav-item"><a class="nav-link" href="area-de-atuacao">Áreas de Atuação</a></li>
                    <li class="nav-item"><a class="nav-link" href="blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contato">Fale Conosco</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>