{% extends 'website/base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}

<section class="banner bg-light text-center d-flex justify-content-center align-items-center" style="height: 40vh;" aria-labelledby="about-title">
    <div>
        <h1 id="about-title" class="banner-title color-light text-light">Sobre nós</h1>
    </div>
</section>

<section class="py-5" aria-labelledby="about-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/static/website/media/advogada_francine_bassetti.jpg" alt="Advogada Francine Bassetti sorrindo" class="img-fluid rounded shadow">
            </div>
            <div class="col-md-6">
                <h1 id="about-content" class="fw-light">Sobre nós</h1>
                <h2 class="fw-light text-uppercase">Dedicação exclusiva à Defesa Médica</h2>
                <p>Com atuação nacional, nosso escritório se destaca pela dedicação exclusiva à defesa dos médicos. Não aceitamos demandas de outras áreas, de outros profissionais de saúde ou de pacientes, pois acreditamos que a especialização é nosso grande diferencial e responsável pelos excelentes resultados conquistados para nossos clientes médicos.</p>
                <p>Possuímos vasta experiência e expertise na defesa de médicos nos Conselhos Regionais de Medicina e nos Tribunais de Justiça de todo o Brasil.</p>
                <p>Nossa política é de total transparência com nossos clientes. Desejamos que você saiba exatamente como está o andamento do seu caso, por isso utilizamos os melhores softwares de gestão. Você receberá mensalmente um relatório detalhado e explicado, de forma clara, para que compreenda os passos dados e os próximos a serem tomados.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col text-center text-light mb-5">
                <h3 class="text-dark">Declaramos guerra à judicialização da Medicina, às indenizações milionárias e ao enriquecimento ilícito do paciente. </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 text-center">
                <div class="p-4 border rounded shadow-sm card-equal-height">
                    <h4 class="mb-3 d-flex align-items-center justify-content-center">
                        <i class="fas fa-bullseye text-secondary mr-3"></i>
                        Missão
                    </h4>
                    <p class="text-left">Prestar um serviço jurídico que vai além da representação processual, entregando ao médico excelência e robustez em uma atuação incisiva em defesa dos seus direitos e interesses.</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="p-4 border rounded shadow-sm card-equal-height">
                    <h4 class="mb-3 d-flex align-items-center justify-content-center">
                        <i class="fas fa-eye text-secondary mr-3"></i>
                        Visão
                    </h4>
                    <p class="text-left">Ser um escritório de advocacia que transforma o percentual de ações propostas contra o médico em um percentual de vitória para o médico.</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="p-4 border rounded shadow-sm card-equal-height">
                    <h4 class="mb-3 d-flex align-items-center justify-content-center">
                        <i class="fas fa-handshake text-secondary mr-3"></i>
                        Valores
                    </h4>
                    <p class="text-left">Qualidade, ética e comprometimento. Não entregamos menos que a excelência para os nossos clientes.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Conheça nossa equipe jurídica</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="/static/website/media/pessoa-5.jpg" alt="Dra. Laboriosam Possimus" class="card-equipe img-fluid rounded-circle mb-3">
                <h5>Dra. Laboriosam Possimus</h5>
                <p>Advogada - OAB/SP XXX.XXX</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="/static/website/media/pessoa-2.jpg" alt="Dr. Lorem Ipson" class="card-equipe img-fluid rounded-circle mb-3">
                <h5>Dr. Lorem Ipson</h5>
                <p>Advogada - OAB/SP XXX.XXX</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="/static/website/media/pessoa-3.jpg" alt="Dr. Voluptates Eaque" class="card-equipe img-fluid rounded-circle mb-3">
                <h5>Dr. Voluptates Eaque</h5>
                <p>Advogada - OAB/SP XXX.XXX</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}