{% extends 'website/base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}

<section class="banner bg-light text-center d-flex justify-content-center align-items-center" style="height: 40vh;" aria-labelledby="about-title">
    <div>
        <h1 id="about-title" class="banner-title color-light text-light">Sobre nós</h1>
    </div>
</section>

<section class="py-5" aria-labelledby="about-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/static/website/media/advogada_francine_bassetti.jpg" alt="Advogada Francine Bassetti sorrindo" class="img-fluid rounded shadow">
            </div>
            <div class="col-md-6">
                <h1 id="about-content" class="fw-light">Sobre nós</h1>
                <h2 class="fw-light text-uppercase">Compromisso total com a Defesa Médica</h2>
                <p>Atuando em âmbito nacional, nosso escritório é reconhecido pela dedicação exclusiva à proteção jurídica dos médicos. Não aceitamos casos de outras áreas, profissionais da saúde ou pacientes, pois acreditamos que a especialização é nosso maior diferencial e o principal motivo dos excelentes resultados obtidos para nossos clientes médicos.</p>
                <p>Contamos com ampla experiência e profundo conhecimento na defesa de médicos perante os Conselhos Regionais de Medicina e Tribunais de Justiça em todo o território brasileiro.</p>
                <p>Adotamos uma política de transparência total com nossos clientes. Queremos que você acompanhe de perto o progresso do seu processo, por isso utilizamos os melhores sistemas de gestão. Mensalmente, você receberá um relatório claro e detalhado, explicando os avanços alcançados e os próximos passos a serem seguidos.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col text-center text-light mb-5">
                <h3 class="text-dark">Nos posicionamos contra a judicialização excessiva da Medicina, as indenizações milionárias e o enriquecimento indevido de pacientes.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 text-center">
                <div class="p-4 border rounded shadow-sm card-equal-height">
                    <h4 class="mb-3 d-flex align-items-center justify-content-center">
                        <i class="fas fa-bullseye text-secondary mr-3"></i>
                        Missão
                    </h4>
                    <p class="text-left">Oferecer um serviço jurídico que vai além da mera representação, proporcionando ao médico uma defesa firme, eficiente e focada na proteção dos seus direitos e interesses.</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="p-4 border rounded shadow-sm card-equal-height">
                    <h4 class="mb-3 d-flex align-items-center justify-content-center">
                        <i class="fas fa-eye text-secondary mr-3"></i>
                        Visão
                    </h4>
                    <p class="text-left">Ser um escritório de referência que converte a maioria das ações propostas contra médicos em vitórias para nossos clientes.</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="p-4 border rounded shadow-sm card-equal-height">
                    <h4 class="mb-3 d-flex align-items-center justify-content-center">
                        <i class="fas fa-handshake text-secondary mr-3"></i>
                        Valores
                    </h4>
                    <p class="text-left">Compromisso com a qualidade, ética e dedicação. Trabalhamos incansavelmente para entregar excelência aos nossos clientes.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Conheça nossa equipe jurídica</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="/static/website/media/pessoa-5.jpg" alt="Dra. Laboriosam Possimus" class="card-equipe img-fluid rounded-circle mb-3">
                <h5>Dra. Laboriosam Possimus</h5>
                <p>Advogada - OAB/SP XXX.XXX</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="/static/website/media/pessoa-2.jpg" alt="Dr. Lorem Ipson" class="card-equipe img-fluid rounded-circle mb-3">
                <h5>Dr. Lorem Ipson</h5>
                <p>Advogado - OAB/SP XXX.XXX</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="/static/website/media/pessoa-3.jpg" alt="Dr. Voluptates Eaque" class="card-equipe img-fluid rounded-circle mb-3">
                <h5>Dr. Voluptates Eaque</h5>
                <p>Advogado - OAB/SP XXX.XXX</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
